.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
}

.articulo{
    font-size: 25px;
}

.description{
    font-size: 12px;
    margin-bottom: 2px;
}

.Div {
  border: 1px solid silver;
  border-radius: 3px;
  text-align: center;
}

.Img {
  width: 18rem;
}

.BTN {
  border: 1px solid black;
  background-color: black;
  color:#a87d53;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 5px;
}

.BTN:hover {
  cursor: pointer;
  opacity: 0.5;
}
