.fromRegister{
    width: 400px;
    background: #1a0c12;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.fromRegister h4{
font-size: 22px;
margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #ffdaa6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffdaa6;
    font-size: 18px;
}

.fromRegister p{
    height: 40px;
    text-align: center;
    font-size: 18px;

}

.link{
    color: white;
    background-color: #1a0c12;
    margin-left: 2px;
}

.link:hover{
    text-decoration: underline;
}

.botons{
    width: 100%;
    background-color: #ffdaa6;
    border:none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;

}

.botons:hover{
    background-color:black;
    color: #ffdaa6;
    text-decoration: underline;
}